html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(34, 139, 111);
  border: 3px solid rgb(12, 180, 129);
  background-color: aquamarine;
  padding-right: 200px;
}
main {
  border: 3px solid rgb(13, 126, 96);
  padding: 16px;
}
h1 {
  text-align: center;
}
footer {
  text-align: center;
  font-size: 10px;
}
#greeting {
  position: fixed;
  right: 16px;
}
nav {
  text-align: right;
  position: fixed;
  right: 16px;
  padding-top: 70px;
}
textarea {
  width: 100%;
  height: 150px;
}
#creditamt {
  position: sticky;
  top: 0px;
  background-color: rgb(12, 180, 129);
  color: white;
}
#bottomP {
  font-family: monospace, monospace, monospace;
}
table {
  margin: 16px;
  padding: 16px;

  border: 2px solid green;
}
img {
  width: 300px;
}
img::hover {
  opacity: 0.7;
}
